<!DOCTYPE html>
<html>
        <%- include('layout/head') %>
    <body>
        <%- include('layout/header') %>
        <h1>
            TODO:  Styling!
        </h1>
        <a href="/randomizer/results">
            <button>Call on a student</button>
            <% if(student) { %>
            <h1><%= student.first_name %> <%= student.last_name %></h1>
            <% } else { %>
                <h1>No name chosen (yet)</h1>
            <% } %>
        </a>

        <form action="/randomizer/reset?_method=PUT" method="POST">
            <input type="submit" value="reset"></input>
        </form>
    </body>


</html>