<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/edit">Edit Students</a></li>
            <li><a href="/randomizer">Students Randomizer</a></li>
            <li><a href="/pairs">Student Pairs</a></li>
            <li><a href="/about">About Me</a></li>

        </ul>
    </nav>
</header>